.modal-icon {
    padding-right: 1rem;
    font-size: 1.5rem;
}

.modal-input {
    border-radius: 0.6rem!important;
}

.modal-header-new {
    font-weight: bold!important;
    color: #848484;
}

.register-button {
    float: right;
}
.register-button button {
    background-color: #03A9F4 !important;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

.form-data-field {
    padding: 0.5rem;
}

.close-button {
    font-size: 2.3rem;
}

.add-button {
    color: white !important;
    border: 2px solid #2494d3 !important;
    background-color: #2596d3 !important;
}

.loading-image-background {
    text-align: center;
    background-color: #80808036;
    border-radius: 1rem;
    padding: 0.5rem;

}

.drop-down-events {
    width: 300px;
    height: 30px;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    color: black;
}

.drop-down-add-btn {
    width: 80px;
    height: 30px;
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: #2696d3;
    border: 1px solid white;
    color: white;
}

.breadcrumb-item a svg{
    height: 25px !important;
    width: 27px !important;
    color: #2f3c4e !important;
}

.breadcrumb-item {
    font-size: 1.5rem;
    color: rgb(47 60 78);
}

.breadcrumb-item.active{
    font-size: 1.5rem!important;
    color: #2596d3!important;
}

.add-kids-event-section {
    background-color: #dddddd;
    padding: 1rem;
    border-radius: 0.7rem;
}

.add-new-event-topic {
    font-size: 1.2rem;
    color: #2f3c4e;
    font-family: monospace;
}

.existing-event-list {

}

.existing-event-topic {

}

.addevent-inner-table-header {
    background-color: #efefef;
    font-weight: bold;
    font-size: 1.1rem;
}

thead {
    background-color: #2596d3;
    color: white;
}

.custormize-table td{
    border-top: none !important;
    background-color: transparent !important;
}


.custormize-table tr{
    background-color: transparent !important;
}
